.idea
*.iml
.gradle
out/
bin/
build/
# BACKCOMPAT: 2021.1. Drop it
# The corresponding code was temporarily left here to handle old not-removed `build-cache` dir
build-cache
gen/
deps/
exampleProject
testData
.DS_Store
/pretty_printers_tests/target
/native-helper/target
