language: java
jdk:
  - oraclejdk8

before_script:
  - curl -L -O https://static.rust-lang.org/dist/rust-nightly-x86_64-unknown-linux-gnu.tar.gz
  - tar -xzf rust-nightly-x86_64-unknown-linux-gnu.tar.gz
  # can't use sudo, so install rustc and cargo localy
  - rust-nightly-x86_64-unknown-linux-gnu/install.sh --prefix=$HOME/rust
  # because of this export, we can't put this into separate `install-rust.sh` script
  - export PATH=$PATH:$HOME/rust/bin

env: ORG_GRADLE_PROJECT_downloadIdeaSources=false
