enum OptionColor {
    NoColor,
    Color(i32, i32, i32),
}

fn main() {
    let color = OptionColor::Color(255, 255, 255);

<spot>    if let OptionColor::Color(255, 255, 255) = color {
        print!("White")
    }</spot>
}
