name: regressions

on: workflow_dispatch

jobs:
    calculate-base-commit:
        runs-on: ubuntu-latest
        outputs:
            base-commit: ${{ steps.base-commit.outputs.base-commit }}
        steps:
            - uses: actions/checkout@v2
              with:
                  fetch-depth: 0

            - name: Calculate base commit
              id: base-commit
              run: echo "::set-output name=base-commit::$(git merge-base origin/master ${{ github.sha }})"

            - name: Show commits
              run: |
                  echo "current commit:"
                  git log ${{ github.sha }} -n 1 --pretty=short
                  echo "base commit:"
                  git log ${{ steps.base-commit.outputs.base-commit }} -n 1 --pretty=short

    check:
        needs: [ calculate-base-commit ]
        name: ${{ matrix.project.name }}
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                project:
                    - name: cargo
                      path: cargo
                      repository: rust-lang/cargo
                      exclude_paths: ""
        env:
            PROJECT_PATH: ${{ matrix.project.path }}
            PROJECT_URL: https://github.com/${{ matrix.project.url }}
            PROJECT_EXCLUDE_PATHS: ${{ matrix.project.exclude_paths }}
            ORG_GRADLE_PROJECT_showStandardStreams: true
        steps:
            - uses: actions/checkout@v2
              with:
                  fetch-depth: 0

            - uses: actions/checkout@v2
              with:
                  repository: ${{ matrix.project.repository }}
                  ref: master
                  path: testData/${{ matrix.project.name }}

            - name: Set up JDK 1.8
              uses: actions/setup-java@v1
              with:
                  java-version: 1.8

            - name: Set up Python
              uses: actions/setup-python@v1
              with:
                  python-version: 3.7

            - name: Set up Rust
              uses: actions-rs/toolchain@v1
              with:
                  profile: minimal
                  toolchain: stable
                  components: rust-src
                  default: true

            - name: Download
              uses: eskatos/gradle-command-action@v1
              with:
                  arguments: ":resolveDependencies -Pkotlin.incremental=false"

            - name: Check with changes
              uses: eskatos/gradle-command-action@v1
              env:
                  PROJECT_NAME: ${{ matrix.project.name }}_with_changes
              with:
                  arguments: "clean :test --tests \"org.rustPerformanceTests.CustomRealProjectAnalysisTest.test\""

            - name: Checkout base version
              run: git checkout ${{ needs.calculate-base-commit.outputs.base-commit }}

            - name: Check without changes
              uses: eskatos/gradle-command-action@v1
              env:
                  PROJECT_NAME: ${{ matrix.project.name }}_without_changes
              with:
                  arguments: "clean :test --tests \"org.rustPerformanceTests.CustomRealProjectAnalysisTest.test\""

            - name: Calculate regressions
              run: python scripts/calculate_regressions.py --name ${{ matrix.project.name }}

            - name: Upload results
              if: ${{ always() }}
              uses: actions/upload-artifact@v2
              with:
                  name: ${{ matrix.project.name }}
                  path: regressions/
